body {
    margin: 0;
    padding: 0;
}

nav {
    height: 45px;
}

#content {
    height: calc(100vh - 45px);
    width: 100vw;
    overflow: hidden;
}

.page {
    height: 100vh;
    width: 100vw;
}

/* Page specific rules */
#photo-controllers {
    padding-top: 20px;
    white-space: nowrap;
}

#photo-controllers i {
    margin: 0 8px;
}

#photo-controllers i.fa-2x {
    font-size: 1.6em;
}

#photo-controllers i:not(.fa-2x) {
    font-size: 1.2em;
}

#photo-controllers * {
    vertical-align: middle;
}

#photo-controllers textarea {
    box-shadow: none;
    border: 0;
    display: inline-block;
    font-size: 0.9em;
    max-width: 60%;
    height: 80px;
    padding: 4px 0 0 0;
    resize: none;
    vertical-align: top;
    overflow: hidden;
}

#map img, #map video {
    max-width: 300px;
    width: 300px;
}

#wall-photos {
    padding: 20px 0 0 20px;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

#wall div.wall-photo-container {
    background: url("/images/250.png") no-repeat center #eee;
    -webkit-box-flex: auto;
    -ms-flex: 30%;
    flex: 30%;
    width: 300px;
    margin: 0 20px 20px 0;
    position: relative;
}

@media (max-width: 720px) {

    #wall-photos {
        padding: 2px 0 0 2px;
    }

    #wall div.wall-photo-container {
        margin: 0 2px 2px 0;
    }
}

.wall-photo-controllers {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 75px);
    width: 150px;
    max-width: 150px;
    height: 50px;
    text-align: center;
}

.wall-photo-controllers i {
    color: #eee;
    opacity: 0.6;
    font-size: 40px;
    display: inline-block;
    margin: 0 15px;
    text-shadow: 1px 1px 1px #333;
    cursor: pointer;
}

.wall-photo-controllers i:hover,
.wall-photo-container.wall-photo-focus .wall-photo-controllers i {
    opacity: 0.9;
}

#wall img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* General rules */
.page-allow-overflow {
    overflow-y: auto;
    /* Add padding bottom matching the reduced height */
    padding-bottom: 45px;
}

.background-light-gray {
    background-color: #eee;
}

.pointer {
    cursor: pointer;
}

.color-gray {
    color: #444;
}

.is-clickable {
    cursor: pointer;
}

hr.border-dashed {
    border-style: dashed;
}

@media screen and (max-width: 400px) {
    #wall div { margin: 0; }
    #wall { padding: 0; }
}