body {
    margin: 0;
    padding: 0;
}

nav {
    height: 45px;
}

.menu {
    font-size: 20px;
}

.top-bar, ul.menu {
    background-color: #444;
    padding: 0;
}
.menu a {
    color: #777;
}

.menu li.is-active a {
    color: #eee;
}

.menu li:hover:not(.is-active) a {
    color: #999;
}

#content {
    height: calc(100vh - 45px);
    width: 100vw;
    overflow: hidden;
}

.page {
    height: 100vh;
    width: 100vw;
}

#photo, #photo-frame, #photo-frame img {
    height: auto;
    width: auto;
    max-width: 100vw;
    max-height: calc(100vh - 85px);
    margin: 0 auto;
}

#photo-frame label.button {
    width: 100%;
    height: 100%;
}

#map img, #map video {
    max-width: 300px;
    width: 300px;
}

#wall {
    overflow-y: auto;
}

#wall-images {
    padding: 0;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

#wall div.wall-image-container {
    background: url("images/fa-camera.png") no-repeat center;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 300px;
    margin: 0 2px 2px 0;
    cursor: pointer;
    position: relative;
}

.wall-image-controllers {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 75px);
    width: 150px;
    max-width: 150px;
    height: 50px;
    text-align: center;
}

.wall-image-controllers i {
    color: #eee;
    opacity: 0.6;
    font-size: 40px;
    display: inline-block;
    margin: 0 15px;
    text-shadow: 1px 1px 1px #333;
    cursor: pointer;
}

.wall-image-controllers i:hover,
.wall-image-container.wall-image-focus .wall-image-controllers i {
    opacity: 0.9;
}

#wall img {
    width: 100%;
    height: auto;
}

hr.border-dashed {
    border-style: dashed;
}

@media screen and (max-width: 400px) {
    #wall div { margin: 0; }
    #wall { padding: 0; }
}