@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";


$link-active: #eee;
$link-hover: #999;

$orange: hsl(30,  100%, 53%);
$yellow: hsl(48,  100%, 67%);
$green: hsl(124, 78%, 44%);
$blue: hsl(217, 71%,  53%);
$red: hsl(356, 86%, 53%);

/** Bulma **/
$navbar-background-color: $grey-lighter;
$navbar-item-hover-background-color: transparent;
$navbar-item-color: $grey;
$navbar-item-hover-color: $grey-darker;
$navbar-item-active-color: $black;

/** Bulma steps **/
$steps-completed-color: lighten($blue, 20%);
$steps-active-color: $blue;