// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bulma/bulma.sass";

.nav {
  background-color: #333;
}

.has-page-margin-top {
  margin-top: $size-3;
  padding-top: $size-3;
}

.color-gray {
  color: #444;
}

.is-clickable {
  cursor: pointer;
}

.is-fixed-top {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

#content.has-fixed-header-top {
  margin-top: $size-1;
}

.has-fixed-header .is-fullheight {
  max-height: calc(100vh - #{$size-1});
  min-height: calc(100vh - #{$size-1});
}

hr.border-dashed {
  border-style: dashed;
}

@media (max-width: $tablet) {
  .has-tablet-no-padding .column {
    padding: 0;
  }
}