// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bulma/bulma.sass";

.nav {
  background-color: #333;
}

#content {
  height: calc(100vh - #{$size-1});
  width: 100vw;
  overflow: hidden;
}

.page {
  height: 100vh;
  width: 100vw;
}

/* General rules */
.page-allow-overflow {
  overflow-y: auto;
  /* Add padding bottom matching the reduced height */
  padding-bottom: $size-1;
}

.has-page-margin-top {
  margin-top: $size-7;
  padding-top: $size-7;
}

.color-gray {
  color: #444;
}

.is-clickable {
  cursor: pointer;
}

hr.border-dashed {
  border-style: dashed;
}

@media (max-width: $tablet) {
  .has-page-margin-top {
    margin: 0;
    padding: 0;
  }
  .has-tablet-no-padding .column {
    padding: 0;
  }
}